html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  /* margin: 10px; */
  font-size: 10px;
}

.container {
  height: 80vh;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 2fr 4fr;
  grid-template-columns: 1fr 3fr 5fr;
  /* gap: 5px; */
}

.box {
  /* height: 3rem; */
  /* width: 3rem; */
  margin: 5px;
  border-radius: 5px;
}

.one {
  background-color: red;
  /* grid-area: "o"; */
  /* grid-row-start: 1;
  grid-row-end: 4; */
  /* justify-self: center;
  align-self: center; */
}

.two {
  background-color: dodgerblue;
  /* grid-area: "t"; */
  /* grid-column-start: 2;
  grid-column-end: 5; */
  /* justify-self: center;
  align-self: center; */
}

.three {
  background-color: green;
  /* grid-area: "th"; */
  /* grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 5; */
}

.four,
.five,
.six {
  background-color: gold;
  /* grid-area: "f"; */
}

/* .four {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: -1;
} */

/* .five {
  align-self: center;
  justify-self: center;
} */
